{{define "title"}}
关于我们
{{end}}

{{define "main"}}
<div class="col-md-9 blog-main">
  <div class="blog-post bg-white p-5 rounded shadow mb-4">

    <h3>关于我们</h3>

    <p>此博客是用以记录编程笔记，如您有反馈或建议，请联系 <a href="mailto:vikey@example.com">vikey@example.com</a></p>
    <a href="/">返回主页</a>

  </div><!-- /.blog-post -->
</div>

{{end}}